.container .buttons #secondary-button, .container .buttons #primary-button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 7px 0;
  font-weight: 700;
  border: none;
}
.container .buttons #secondary-button:hover, .container .buttons #primary-button:hover {
  text-transform: uppercase;
  transition: 0.4s ease;
  text-decoration: underline;
  color: rgb(248, 109, 29);
  font-size: 14px;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  max-width: 1440px;
  background-color: rgb(227, 227, 249);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 450px;
  margin: 0 auto;
  height: 85vh;
  border-radius: 14px;
  margin-top: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
@media (max-width: 375px) {
  .container {
    width: 320px;
    height: 70vh;
  }
}
@media (max-width: 375px) {
  .container-img {
    width: 320px;
  }
}
.container-img img {
  border-radius: 14px 14px 0 0;
}
@media (max-width: 375px) {
  .container-img img {
    width: 320px;
  }
}
.container-content {
  height: 60%;
  padding: 2rem 4rem;
  line-height: 1.7;
}
.container-content-text {
  text-align: center;
}
@media (max-width: 375px) {
  .container-content-text h1 {
    font-size: 23px;
  }
}
.container-content-text #text {
  font-weight: 500;
}
@media (max-width: 375px) {
  .container-content-text #text {
    font-size: 14px;
    font-weight: 0;
  }
}
.container-content p {
  color: hsl(224, 23%, 55%);
}
.container-content .minibox {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 100%, 98%);
  padding: 0.5rem;
  border-radius: 5px;
  align-items: center;
  margin: 1rem;
}
@media (max-width: 375px) {
  .container-content .minibox {
    width: 270px;
    padding: 1rem 2rem;
    margin: 0 auto;
    position: relative;
    right: 30px;
  }
}
.container-content .minibox-content h4 {
  margin-right: 50px;
}
@media (max-width: 375px) {
  .container-content .minibox-content h4 {
    margin-right: 10px;
  }
}
.container-content .minibox-content a {
  font-weight: 700;
}
@media (max-width: 375px) {
  .container-content .minibox-content a {
    font-size: 14px;
  }
}
.container-content .minibox-content a:hover {
  font-size: 17px;
  transition: all 0.2s ease;
  text-decoration: none;
  color: rgb(248, 109, 29);
}
.container .buttons {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .container .buttons {
    width: 90%;
    margin-top: 20px;
  }
}
.container .buttons #primary-button {
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
.container .buttons #primary-button:hover {
  text-transform: none;
}
.container .buttons #secondary-button {
  background: #fff;
  color: hsl(224, 23%, 55%);
}
.container .buttons #secondary-button:hover {
  text-transform: none;
}/*# sourceMappingURL=style.css.map */